
$primary: #28ce63;

@import '~bootstrap/scss/bootstrap';
@import 'font.css';
@import 'external';
@import "~trumbowyg/dist/ui/sass/trumbowyg";
@import "~trumbowyg/dist/plugins/emoji/ui/sass/trumbowyg.emoji";



.jumbotron {
  padding: 2rem 1rem;
}
img {
  max-width: 100%;
}
a{
  color: $link_c;
  text-decoration: none;
  }
a:hover{
color: $link_c_h;
text-decoration: none;
}
.table-sm th, .table-sm td {
  padding: 5px 10px;
}
textarea{
  width: 100%;
}
.admin-panel{
  .card{
    padding: 15px;
  }
  header {
    text-align: center;
    padding: 15px;
}
}

  .wrapper {
      display: flex;
  }
  .sidebar {
      width: 250px;
      width: 250px;
      transition: margin-left .4s ease-in-out, left .4s ease-in-out;
      background: $theme_bg;
      color: $theme_c;
  }
  .sidebar.toggled {
      margin-left: -250px;
  }
  .sidebar-toggle-wrapper {
      width: 60px;
  }
  .main {
      width: 100%;
      min-height: 100vh;
      min-width: 0;
      transition: margin-left .4s ease-in-out, left .4s ease-in-out;
      
  }
  .logo-wrapper {
      height: 55px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: 1px solid $theme_b;
  }
  .logo-wrapper a {
    color: #fff;
}

  .top-bar {
      height: 55px;
      border-bottom: 1px solid $theme_b_ligth;
      display: flex;
      padding: 0 15px;
  }

  .admin-nav > ul > li {
    border-bottom: 1px solid $theme_b;

}
.admin-nav  ul  li  a {
  border-left: 4px solid transparent;
}

.admin-nav  ul  li  a:hover {
  // border-left-color: $theme_b_ligth;
  border-left-color: $active_c;
  color: inherit;
}
.nav-second-lvl {
  background: $theme_bg_dark;
  display: none;
}
.nav.nav-second-lvl.open {
  display: block;
}
.nav-second-lvl.active{
display: block;
}
.nav-second-lvl li{
  border-bottom: 1px solid #333e50;
}
.nav li{
  width: 100%;
}
.nav li a {
  padding: 10px 35px 10px 10px;
  display: block;
  cursor: pointer;
  color: $theme_c;
  position: relative;

}
.admin-nav  ul  li.active  a {
  color: $active_c;
}
.nav li a:hover{
  color: #93aac2;
  text-decoration: none;
}
.nav li a:not(:only-child)::after {
  content: '\f107';
  position: absolute;
  right: 15px;
  font-family: fontello;
}
.nav > li > a > i {
  margin-right: 10px;
}
.nav-second-lvl > li > a {
  padding-left: 58px;
}


.logout {
font-size: 25px;
border-left: 1px solid $theme_b_ligth;
width: 50px;
padding-left: 15px;
}
.logout:hover i:before {
color: #bd1f1f;
}

.user-options {
width: 250px;
height: 100%;
border-left: 1px solid $theme_b_ligth;
position: relative;
}
.user-config{
display: flex;
justify-content: flex-end;
width: 100%;
}
.user-config > * {
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
}
.dropdown-user {
  position: absolute;
  top: 54px;
  left: -1px;
  border: 1px solid $theme_b_ligth;
  background: #fff;
  padding: 10px;
  width: 250px;
  display: none;
  z-index: 1;
  box-shadow: 0px 6px 8px -7px rgba(148,140,148,1);
}
.dropdown-user.open {
  display: block;
}

.dropdown-user > a {
  display: block;
  margin: 10px;
}
.content-wrapper{
  background: $theme_bg_light;
  padding: 0 25px;
  min-height: calc(100vh - 45px);
}
.list_image{
  max-height: 50px;
}
.edit_image{
  max-height: 150px;
}
.del-form{
  display: inline-block;
}
.pagination_wrapper{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.dropzone-style {
  
   align-items: center; 
   justify-content: center; 
   display: flex; 
   flex-wrap: wrap;
  border: 1px dashed #ced4da;
   cursor: pointer;
  margin-bottom: 30px;
  padding: 0;
  height:100px;
  min-height: auto;
}
form.gallery_photos_wrapper {

  flex-wrap: wrap;
  
}
.gallery_photos_wrapper:not(:empty), .gallery_list_wrapper {
  border: 1px dashed #ced4da;
  padding: 15px 0 0px;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
}
.gallery_list_wrapper {
border: none;
}
.photo-tile, .gallery_item {position: relative; width: 18%; overflow: hidden; margin-right: 15px; margin-left: 15px; margin-bottom: 20px;padding: 10px;border: 1px solid #ccc;cursor: pointer;}



.photo-tile input {
  display: block;
  width: 100%;
  margin: 10px 0;
}
.photo_tile_img_wrapper {
  height: 250px;
  overflow: hidden;
}

.photo_tile_img_wrapper > img {
  max-height: 200px;
  width: auto;
  display: block;
  margin: 0 auto;
}

.photo_tile_btns__wrapper {
  text-align: right;
}
.move_handle {
  position: absolute;

  width: 40px;
  height: 40px;
  background: #fff;
  opacity: 0.7;
  display: flex;
  align-items: center;
  justify-content: center;
}


.buttons_wrapper_right {
  display: flex;
  justify-content: flex-end;
}

.buttons_wrapper_right > div {
  width: 100px;
  margin-left: 20px;
}

.buttons_wrapper_right > div > button {
  width: 100%;
}

.gallery_item_title {
  text-align: center;
  padding: 10px;
  font-weight: 500;
  margin-bottom: 0;
}
.gallery_item_pass {
  display: block;
  text-align: center;
  margin-bottom: 20px;
}
.gallery_item_thumb {
  overflow: hidden;
}

.gallery_item_thumb img {
  max-height: 150px;
  width: auto;
  margin: 0 auto;
  display: block;
}
.thumbnail_preview_wrapper {margin-bottom: 30px;}

img.thumbnail_preview {
    max-height: 200px;
    width: auto;
}
.thumbnail_description{
  display: none;
}
.thumbnail_description.active{
  display: block;
}
.slide-add-section {
  margin-bottom: 30px;
}
.slide-add-label {
  text-align: center;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 500;
}

